@import "tailwindcss";

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header{
  font-size: 25px;
  width: 200px;
  text-align: center;
  border: 2px solid aqua;
  box-shadow: 4px 1px 9px 2px;
  border-radius: 20px;
}